
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
  

  

  <!-- main form  -->
  <form action="/" method="POST" class="p-5">
    <div class="form-group">
      <label for="title">TODO Title</label>
      <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
      <label for="Desciption">TODO Desciption</label>
      <input type="text" name="desc" class="form-control" id="Desciption">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    <!-- Table  -->

    {% if allTodo|length == 0 %}
    <div class="alert alert-dark" role="alert">
      No Todos found , Please Add 1st Task Now!
    </div>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Title
          </th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in allTodo %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date_created}}</td>
          <td>
            <a href="/update/{{todo.sno}}"><button type="button"
                class="btn btn-outline-dark btn-sm mx-1">Update</button></a>
            <a href="/delete/{{todo.sno}}"><button type="button"
                class="btn  btn-outline-dark btn-sm mx-1">Delete</button></a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% endif %}


  </form>

{% endblock body %}
